<header th:fragment="header">
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> 84987210669</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>carlospierre07@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Macaíba/RN</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#">R$</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i> Minha Conta</a></li>
            </ul>
        </div>
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" th:href="@{/}" class="logo">
                            <img th:src="@{/img/logo.png}" alt="Logo">
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/search}" method="get">
                            <select class="input-select" name="category">
                                <option value="0">All Categories</option>
                                <option th:each="category : ${categories}" 
                                        th:value="${category.id}" 
                                        th:text="${category.name}">Category</option>
                            </select>
                            <input class="input" name="query" placeholder="Search here">
                            <button type="submit" class="search-btn">Search</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" th:href="@{/verCarrinho}">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Carrinho</span>
                                <div class="qty" th:text="${quantidadeItensCarrinho}"></div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget" th:each="item : ${carrinho.itens}">
                                        <div class="product-img">
                                            <img th:src="@{${item.suplemento.imagemUri}}" alt="Product Image">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#" th:text="${item.suplemento.nome}">product name</a></h3>
                                            <h4 class="product-price"><span class="qty" th:text="${item.quantidade} + 'x'"></span><span th:text="'R$ ' + ${#numbers.formatDecimal(item.suplemento.preco, 1, 'POINT', 2, 'COMMA')}">$980.00</span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small th:text="${quantidadeItensCarrinho} + ' itens selecionados'"></small>
                                    <h5 th:text="'TOTAL: R$ ' + ${#numbers.formatDecimal(subtotalCarrinho, 1, 'POINT', 2, 'COMMA')}"></h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="#" th:href="@{/verCarrinho}">Ver carrinho</a>
                                    <a href="#" th:href="@{/finalizarCompra}">Finalizar <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Hot Deals</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Smartphones</a></li>
                    <li><a href="#">Cameras</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


