<header th:fragment="header">
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> 84987210669</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>carlospierre07@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> Macaíba/RN</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li><a href="#">R$</a></li>
                <li><a href="#"><i class="fa fa-user-o"></i> Minha Conta</a></li>
            </ul>
        </div>
    </div>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" th:href="@{/}" class="logo">
                            <img th:src="@{/img/logo.png}" alt="Logo">
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/search}" method="get">
                            <select class="input-select" name="category">
                                <option value="0">All Categories</option>
                                <option th:each="category : ${categories}" 
                                        th:value="${category.id}" 
                                        th:text="${category.name}">Category</option>
                            </select>
                            <input class="input" name="query" placeholder="Search here">
                            <button type="submit" class="search-btn">Search</button>
                        </form>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Hot Deals</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Laptops</a></li>
                    <li><a href="#">Smartphones</a></li>
                    <li><a href="#">Cameras</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="padding-top: 18px;">
        <div class="container">
            <span class="badge badge-dark " style="padding: 8px 16px;">Área Administrativa</span>
        </div>
    </div>
</header>


